.hero {
  background-attachment: relative;
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0.6) 50%, rgba(0, 0, 0, 0) 80%),
    url(../../assets/images/sponsor/DSC05963.jpg);
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  height: 95vh;
  min-height: 465px;
}

.hero-container {
  display: flex;
  flex-direction: row;
  height: 100%;
  justify-content: center;
  margin: 0 auto;
  max-width: 500px;
}

.hero-text-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 100px;
  margin-right: 0px;
}

.hero-btn-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.hero-btn {
  margin-left: 5px;
  margin-right: 5px;
  width: fit-content;
}

.hero-btn a {
  background-color:#993333; 
  color: white;
  display: block;
  padding: 12px;
}

.hero-btn a:hover {
  background: #E70000;
}

.hero-btn--variant {
  margin-left: 5px;
  margin-right: 5px;
  width: fit-content;
}

.hero-btn--variant a {
  background-color:#193f4f;
  color: white;
  display: block;
  padding: 12px;
}

.hero-btn--variant a:hover {
  background: #00ace6;
}

.title {
  font-size: 50px;
  margin-bottom: 20px;
  max-width: 500px;
  text-align: center;
}

.social-img {
  height: 24px;
  vertical-align: middle;
  width: 24px;
}

.subtext {
  max-width: 500px;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)),
    url(../../assets/images/sponsor/DSC05963.jpg);
    background-position: top center;
  }

  .hero-container {
    justify-content: center;
  }

  .hero-text-area {
    align-items: center;
    text-align: center;
    margin-left: 24px;
    margin-right: 24px;
  }
}

@media only screen and (max-width: 400px) {
  .hero-btn, .hero-btn--variant {
    margin-bottom: 5px;
    margin-top: 5px;
    width: 100%;
  }

  .hero-btn a, .hero-btn--variant a {
    font-size: 14px;
    padding: 6px;
  }

  .hero-btn-container {
    flex-direction: column;
    justify-content: center;
  }

  .title {
    font-size: 35px;
    margin-bottom: 20px;
    max-width: 500px;
    text-align: center;
  }
  
  .subtext {
    font-size: 14px;
    max-width: 500px;
    text-align: center;
  }
}