.container {
  margin: 0 auto;
  padding: 36px 24px 12px 24px;
  max-width: 960px;
  min-height: 100%;
}

.section-regular {
  background-color: #121212;
  color: white;
}

.section-regular a {
  color: white; /* #cf6679 */
}

.about-us--text {
  display: flex;
  flex-direction: row;
}

.about-us--text > p {
  margin: 0;
}

.about-us--image-container {
  margin-left: 48px;
  display: flex;
  flex: 0 0 50%;
}

.about-us-image {
  object-fit: contain;
  width: 100%;
  height: auto;
}

@media only screen and (max-width: 768px) {
  .about-us--text {
    flex-direction: column;
  }

  .about-us--image-container {
    margin-left: 0;
    margin-top: 24px;
  }
}

@media only screen and (max-width: 425px) {
  .contact-us--social {
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 375px) {
  .contact-us--social {
    font-size: 1rem;
  }

  .contact-us--social-icon {
    width: 24px;
    height: 24px;
    margin-right: 16px;
  }
}
