.container {
  margin: 0 auto;
  padding: 48px 24px;
  max-width: 960px;
}

.section-regular {
  background-color: #121212;
  color: white;
}

.section-regular a {
  color: white; /* #cf6679 */
}

.flavour--text {
  font-family: "SF Fedora Titles"
}

.flavour--text > p {
  font-size: 1.4rem;
  font-style: italic;
}

.flavour--btn {
  margin-bottom: 20px;
  width: 100%;
}

.flavour--btn a {
  display: block;
  padding: 18px;
  color: black;
  background-color: #ff801c;
  text-align: center;
}

.flavour--btn a:hover {
  background: #fa8e39;
}

.about-us--text {
  display: flex;
  flex-direction: row;
}

.about-us--text > p {
  margin: 0;
}

.about-us--image-container {
  margin-left: 48px;
  display: flex;
  flex: 0 0 50%;
}

.about-us-image {
  object-fit: contain;
  width: 100%;
  height: auto;
}

.contact-us--social-container {
  display: block;
}

.contact-us--social {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  font-size: 1.38316rem;
  font-weight: 600;
  line-height: 1.1;
}

.contact-us--social:hover {
  background-color: rgba(158, 158, 158, 0.2);
  border-radius: 6px;
}

.contact-us--social > * {
  margin: 0;
}

.contact-us--social-icon {
  width: 36px;
  height: 36px;
  margin-right: 18px;
}

@media only screen and (max-width: 768px) {
  .about-us--text {
    flex-direction: column;
  }

  .about-us--image-container {
    margin-left: 0;
    margin-top: 24px;
  }
}

@media only screen and (max-width: 425px) {
  .contact-us--social {
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 375px) {
  .contact-us--social {
    font-size: 1rem;
  }

  .contact-us--social-icon {
    width: 24px;
    height: 24px;
    margin-right: 16px;
  }
}
