/*
 * This needs to be applied to the <main> element, which seems to
 * outright require modding the Layout component to accept a prop
 * for className.
 */
.background {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)),
  url(../assets/images/watch/curtains.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: white;
}

.container {
  margin: 0 auto;
  padding: 48px 24px;
  max-width: 960px;
}