footer {
  background-color: #343a40;
  color: lightgrey;
  display: flex;
  justify-content: space-between;
  padding: 18px;
}

.copyright-text {
  align-items: center;
  display: flex;
  font-weight: 300;
}

.social-icon {
  align-items: center;
  background-color: #e65100;
  border-radius: 24px;
  display: inline-flex;
  height: 48px;
  justify-content: center;
  margin-right: 16px;
  width: 48px;
}

.social-icon:hover {
  filter: brightness(90%);
}

.facebook {
  background-color: #1876f2;
}

.instagram {
  background: #d6249f;
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
}

.youtube {
  background-color: #ff0000;
}

.snapchat {
  background-color: #fffc00;
}

.social-img {
  height: 24px;
  vertical-align: middle;
  width: 24px;
}

@media only screen and (max-width: 768px) {
  footer {
    align-items: center;
    flex-direction: column;
  }

  .social-icon {
    margin-bottom: 18px;
  }

  .social-icon--last {
    margin-right: 0px;
  }
}

/**
 * iPhone SE, why do you still exist?
 */
@media only screen and (max-width: 375px) {
  .copyright-text {
    font-size: 0.8rem;
  }

  .social-icon {
    height: 36px;
    margin-right: 12px;
    width: 36px;
  }

  .social-icon--last {
    margin-right: 0px;
  }

  .social-img {
    height: 18px;
    width: 18px;
  }
}
