header {
  background-color: #343a40;
  display: flex;
  position: fixed;
  width: 100%;
  z-index: 10;
}

header a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 18px;
  z-index: 10;
}

nav {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.logoArea {
  height: 60px;
  vertical-align: middle;
  display: flex;
  flex-direction: row;
}

.menuBtn {
  display: none;
  margin-left: auto;
  background: #343a40;
  background-image: url(../assets/images/icons/ic_menu_white_48dp.png);
  background-size: 24px;
  background-position: center;
  background-repeat: no-repeat;
  width: 60px;
  height: 60px;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: rgba(158, 158, 158, 0.2);
}

.navList {
  margin: 0;
  display: flex;
}

.navListItem {
  margin: 0;
}

.navListItemPenultimate {
  margin: 0;
  margin-right: 18px;
}

.navLink:hover {
  background: rgba(158, 158, 158, 0.2);
}

.navLinkPrimary {
  background-color: #ff801c;
  color: black;
}

.navLinkPrimary:hover {
  background: #fa8e39;
}

@media only screen and (max-width: 880px) {
  .menuBtn {
    display: inline-block;
  }

  header {
    flex-direction: column;
  }

  nav {
    flex-direction: column;
    align-items: flex-end;
  }

  .navCollapsed {
    overflow: hidden;
    max-height: 0;
    transition: all 0.3s ease-in;
  }

  /* max-height is proportional to the number of the items in the
     navbar, where each item is 60px tall, so num * 60. */
  .navExpanded {
    overflow: hidden;
    max-height: 240px;
    transition: all 0.3s ease-out;
  }

  .navList {
    flex-direction: column;
    width: 100%;
  }

  .navListItemPenultimate {
    margin-right: 0;
  }
}

/**
 * iPhone SE ... sad sad
 * TODO: this text is actually slightly off-vertical-centre
 */
@media only screen and (max-width: 375px) {
  .logoArea > h3 {
    font-size: 1.25rem;
  }
}