image {

    width: 200px;
}

.show {
    max-height: 100%;
}

.hide {
    height: 0;
    visibility: hidden;
}

.format {
    /* Set default width and height varies. */
    height: 400px;
    padding-right: 30px;
    padding-bottom: 30px;
}

.container { /* need to change because it is affecting all divs */
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* width: 1500px; */
    padding-left: 50px;
    padding-right: 50px;
    

}

.showSelectView {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    padding-top: 15px;
    padding-left: 15px;
}

.flexRow {
    display: flex;
    flex-direction: row;
}

.flexColumn {
    display: flex;
    flex-direction: column;
}

.smallImage {
    height: 100px;
    margin: 15px;
}

.largeImage {
    height: 400px;
    margin: 15px;
    margin: 25px 10px;
    display: block;
    max-width: 100%;
    max-height: 100%

}

.allColumn {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    
}

.allRow {
    display: flex;
    flex-direction: row;
    padding-left: 50px;
    padding-right: 50px;
    background-color: #343a40;
    height: 130px;
}

.blurbText {
    display: flex;
    flex-direction: column;
}

.rowText {
    display: flex;
    flex-direction: row;
}

.embolden {
    font-weight: bold;
}

.color {
    color: blue;
}
