image {

    width: 200px;
}


.format {
    /* Set default width and height varies. */
    width: 200px;
}

.container { /* need to change because it is affecting all divs */
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.color {
    color: blue;
}
