.hero {
  background-attachment: fixed;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.75) 50%,
      rgba(0, 0, 0, 0)
    ),
    url(../../assets/images/watch/curtains.jpg); /* Still stored in previous. */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  height: 20vh;
  min-height: 100px;
}

.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  margin: 0 auto;
  width: 100%;
}

.hero-text-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.subtitle {
  display: block;
  font-size: 20px;
  font-style: italic;
  text-align: center;
}

.title {
  font-size: 50px;
  margin-bottom: 3px;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .subtitle {
    display: block;
    font-size: 14px;
    font-style: italic;
    text-align: center;
  }

  .title {
    font-size: 38px;
    margin-bottom: 3px;
    text-align: center;
  }
}

@media only screen and (max-width: 425px) {
  .subtitle {
    display: block;
    font-style: italic;
    text-align: center;
    font-size: 16px;
  }

  .title {
    font-size: 32px;
    margin-bottom: 3px;
    text-align: center;
  }
}
