.view {
  max-height: 100%;
}

.hide {
  height: 0;
  display: none;
}

.section {
  background-color: #262626;
  color: white;
}

.container {
  margin: 0 auto;
  padding: 24px 24px;
  max-width: 960px;
  background-color: #121212;
  color: white;
  align-items: center;
}

.imgButton {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  width: 225px;
  height: 260px;
  transition-duration: 0.75s;
  overflow: hidden;
  padding: 10px;

  text-align: center;
  vertical-align: middle;
}

.imgView {
  width: 75%;
  background-color: black;
  transition-duration: 0.75s;
}

/* Different words and stuff */
.aboutText {
  display: flex;
  flex-direction: row;
}

.castText {
  margin-left: 24px;
}

.castText2 {
  margin-left: 0;
}

.aboutImageContainer {
  margin-top: 30px;
  margin-left: 48px;
  display: flex;
  flex: 0 0 33%;
}

.castImageContainer {
  display: flex;
  flex: 0 0 50%;
}

.aboutImage {
  object-fit: contain;
  object-position: center;
  width: 100%;
  height: auto;
}

.catchPhrase {
  font-style: italic;
  text-align: center;
  margin-bottom: 0px;
  font-size: large;
}

h3 {
  margin-bottom: 5px;
}

.h3alt {
  margin-top: 25px;
  margin-bottom: 5px;
}

a {
  color: red;
}

/* Sign up button */
.signupButton {
  text-align: center;
}

.signupButton a {
  color: white;
  background-color: #cc0000;
  padding: 10px;
}

.signupButton a:hover {
  background: rgb(187, 34, 34);
}

/* Code for front page button fading */
.imgButton:hover .imgView {
  opacity: 25%;
}

.imgButton:hover .showText {
  opacity: 100%;
}

.imgButton:hover .showTextv1 {
  opacity: 100%;
}

.imgButton:hover .showTextv2 {
  opacity: 100%;
}

.imgButton:hover .showTextv3 {
  opacity: 100%;
}

.showText {
  opacity: 0%;
  transition-duration: 0.75s;
  height: 0.5px;
  width: 100%;
  text-align: center;
  transform: translate(0, -24500%);
}

.showTextv1 {
  opacity: 0%;
  transition-duration: 0.75s;
  height: 0.5px;
  width: 100%;
  text-align: center;
  transform: translate(0, -26000%);
}

.showTextv2 {
  opacity: 0%;
  transition-duration: 0.75s;
  height: 0.5px;
  width: 100%;
  text-align: center;
  transform: translate(0, -15000%);
}

.showTextv3 {
  opacity: 0%;
  transition-duration: 0.75s;
  height: 0.5px;
  width: 100%;
  text-align: center;
  transform: translate(0, -12500%);
}

.hiddenText1 {
  color: white;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 2px;
}

.hiddenText2 {
  color: white;
  font-size: 11px;
}
