.view {
    max-height: 100%;
}

.hide {
    height: 0;
    display: none;
}

.section {
    background-color: #262626;
    color: white;
  }

.container {
    margin: 0 auto;
    padding: 24px 24px;
    max-width: 960px;
    background-color: #121212;
    color: white;
    align-items: center;
}

.imgButton {
    background: none;
    border: none;
    color: inherit;
    cursor: pointer;
    width: 225px;
    height: 260px;
    transition-duration: 0.75s;
    overflow: hidden;
    padding: 10px;

    text-align: center;
    vertical-align: middle;

}

.imgButton:hover .imgView {
    opacity: 25%;
}

.imgButton:hover .showText {
    opacity: 100%;
}

.imgButton:hover .showTextTwoLines {
    opacity: 100%;
}

.imgView {
    width: 75%;
    background-color: black;
    transition-duration: 0.75s;
}

.showText {
    opacity: 0%;
    transition-duration: 0.75s;
    height: 0.5px;
    width: 100%;
    text-align: center;
    transform: translate(0,-24500%);
}

.showTextTwoLines {
    opacity: 0%;
    transition-duration: 0.75s;
    height: 0.5px;
    width: 100%;
    text-align: center;
    transform: translate(0,-26000%);
}

.hiddenText1 {
    color: white;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 2px;
    /* transform: translate(0,-650%); */
}

.hiddenText2 {
    color: white;
    font-size: 11px;
    /* transform: translate(0,-1175%); */
}

/* Different words and stuff */
.aboutText {
    display: flex;
    flex-direction: row;
}

.castText {
    margin-left: 48px;
}

.aboutImageContainer {
    margin-top: 30px;
    margin-left: 48px;
    display: flex;
    flex: 0 0 33%;  
}

.castImageContainer {
    display: flex;
    flex: 0 0 60%;  
}

.aboutImage {
    object-fit: contain;
    object-position: center;
    width: 100%;
    height: auto;
}

.catchPhrase {
    font-style: italic;
    text-align: center;
    margin-bottom: 0px; 
    font-size: large;
}

h3 {
    margin-top: 25px;
    margin-bottom: 5px;
}
  
a {
    color: red;
}