.hero {
  color: white;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0.6) 50%),
    url(../../assets/images/index/IMG_0798_crop.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 465px;
  height: 75vh;
}

.heroContainer {
  margin: 0 auto;
  max-width: 960px;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.heroTextArea {
  margin-right: 36px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.heroLogo {
  max-width: 300px;
  height: auto;
  margin-bottom: 48px;
}

.heroText {
  margin-bottom: 48px;
}

.heroBtn {
  width: fit-content;
}

.heroBtn a {
  display: block;
  padding: 18px;
  color: white;
  background-color: #cc0000;
}

.heroBtn a:hover {
  background: rgb(187, 34, 34);
}

@media only screen and (max-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../../assets/images/index/IMG_0798.jpg);
  }

  .heroContainer {
    justify-content: center;
  }

  /* For some reason this margin isn't getting respected when the
   * screen gets smaller than the logo image. Need to investigate.
   * TODO(dikunong): Fix this.
   */
  .heroTextArea {
    align-items: center;
    text-align: center;
    margin-left: 24px;
    margin-right: 24px;
  }
}

@media only screen and (max-width: 425px) {
  .heroBtn {
    width: 100%;
  }
}

/**
 * This isn't actually for the iPhone SE.
 * It's an ugly workaround for the heroTextArea margin being ignored
 * when it gets smaller than the image - make the image even smaller.
 */
@media only screen and (max-width: 354px) {
  .heroLogo {
    max-width: 270px;
  }
}