.hero {
  background-attachment: fixed;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0.6) 50%),
    url(../../assets/images/index/cast-photo-no-logo.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  height: 75vh;
  max-height: 800px;
  min-height: 465px;
}

.hero-container {
  display: flex;
  flex-direction: row;
  height: 100%;
  justify-content: flex-end;
  margin: 0 auto;
  max-width: 960px;
}

.hero-text-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 36px;
}

.hero-logo {
  height: auto;
  margin-bottom: 48px;
  max-width: 300px;
}

.hero-text {
  line-height: 32px;
  margin-bottom: 48px;
}

.hero-btn {
  width: fit-content;
}

.hero-btn a {
  background-color: #cc0000;
  color: white;
  display: block;
  padding: 18px;
}

.hero-btn a:hover {
  background: #bb2222;
}

@keyframes ellipsis {
  to {
    width: 0.9em;
  }
}

@media only screen and (max-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../../assets/images/index/cast-photo-no-logo.jpg);
    background-position: top center;
  }

  .hero-container {
    justify-content: center;
  }

  /* For some reason this margin isn't getting respected when the
   * screen gets smaller than the logo image. Need to investigate.
   * TODO(dikunong): Fix this.
   */
  .hero-text-area {
    align-items: center;
    margin-left: 24px;
    margin-right: 24px;
    text-align: center;
  }

  .hero-btn {
    width: 100%;
  }
}

/**
 * This isn't actually for the iPhone SE.
 * It's an ugly workaround for the heroTextArea margin being ignored
 * when it gets smaller than the image - make the image even smaller.
 */
@media only screen and (max-width: 354px) {
  .hero-logo {
    max-width: 270px;
  }
}