.hero {
  color: white;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0.6) 50%),
    url(../../assets/images/index/auditions-banner.jpg);
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 465px;
  height: 75vh;
  max-height: 800px;
}

.heroContainer {
  margin: 0 auto;
  max-width: 960px;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.heroTextArea {
  margin-right: 36px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.heroLogo {
  max-width: 300px;
  height: auto;
  margin-bottom: 48px;
}

.heroText {
  line-height: 32px;
  margin-bottom: 48px;
  max-width: 350px;
}

.heroText:after {
  animation: ellipsis steps(4,end) 2.1s infinite;
  content: "\2026"; /* ASCII code for the "..." character */
  display: inline-block;
  overflow: hidden;
  position: absolute;
  vertical-align: bottom;
  width: 0px;
}

.heroBtn {
  width: fit-content;
}

.heroBtn a {
  display: block;
  padding: 18px;
  color: black;
  background-color: #ffa500;
}

.heroBtn a:hover {
  background: #eba72a;
}

@keyframes ellipsis {
  to {
    width: 0.9em;
  }
}

@media only screen and (max-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../../assets/images/index/auditions-banner-tall.jpg);
    background-position: top center;
  }

  .heroContainer {
    justify-content: center;
  }

  /* For some reason this margin isn't getting respected when the
   * screen gets smaller than the logo image. Need to investigate.
   * TODO(dikunong): Fix this.
   */
  .heroTextArea {
    align-items: center;
    text-align: center;
    margin-left: 24px;
    margin-right: 24px;
  }

  .heroBtn {
    width: 100%;
  }
}

/**
 * This isn't actually for the iPhone SE.
 * It's an ugly workaround for the heroTextArea margin being ignored
 * when it gets smaller than the image - make the image even smaller.
 */
@media only screen and (max-width: 354px) {
  .heroLogo {
    max-width: 270px;
  }
}