.promo {
  color: white;
  background-image: url(../../assets/images/index/indy-jones-banner.jpg);
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 465px;
  height: 90vh;
  max-height: 800px;
}

.promoContainer {
  margin: 0 auto;
  max-width: 960px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.promoLogo {
  max-width: 600px;
  width: 100%;
  height: auto;
  margin-bottom: 48px;
}

.promo-btns {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 600px;
  text-align: center;
}

.promoBtn {
  margin-bottom: 20px;
  width: 100%;
}

.promoBtn a {
  display: block;
  padding: 18px;
  color: black;
  background-color: #ff801c;
}

.promoBtn a:hover {
  background: #fa8e39;
}

.down-btn {
  background-color: transparent;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  padding: 0;
}

.down-arrow {
  height: 90px;
}

@media only screen and (max-width: 768px) {
  .promo {
    background-image: url(../../assets/images/index/indy-jones-banner-tall.jpg);
    background-position: top center;
  }

  .promoContainer {
    justify-content: center;
    margin: 0 24px;
  }

  .promoBtn {
    width: 100%;
  }
}

/**
 * This isn't actually for the iPhone SE.
 * It's an ugly workaround for the heroTextArea margin being ignored
 * when it gets smaller than the image - make the image even smaller.
 */
@media only screen and (max-width: 354px) {
  .promoLogo {
    max-width: 270px;
  }
}